In [1]:
import pandas as pd

In [0]:
# Code to read csv file into Colaboratory:
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
# Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [0]:
link = 'https://drive.google.com/open?id=1-kKMiON5lEnDqhn9ot7h9BYN_0RHRqlF'

In [2]:

import pandas as pd

In [0]:
df_bonus = pd.read_csv(link, usecols=range(0, 284))
# Dataset is now stored in a Pandas Dataframe

In [22]:
df_bonus= pd.read_csv('2019-Oct.csv')

In [23]:
df_bonus.head()

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2019-10-01 00:00:00 UTC,view,44600062,2103807459595387724,NaN,shiseido,35.79,541312140,72d76fde-8bb3-4e00-8c23-a032dfed738c
1,2019-10-01 00:00:00 UTC,view,3900821,2053013552326770905,appliances.environment.water_heater,aqua,33.20,554748717,9333dfbd-b87a-4708-9857-6336556b0fcc
2,2019-10-01 00:00:01 UTC,view,17200506,2053013559792632471,furniture.living_room.sofa,NaN,543.10,519107250,566511c2-e2e3-422b-b695-cf8e6e792ca8
3,2019-10-01 00:00:01 UTC,view,1307067,2053013558920217191,computers.notebook,lenovo,251.74,550050854,7c90fc70-0e80-4590-96f3-13c02c18c713
4,2019-10-01 00:00:04 UTC,view,1004237,2053013555631882655,electronics.smartphone,apple,1081.98,535871217,c6bd7419-2748-4c56-95b4-8cec9ff8b80d

In [24]:
df_bonus['event_type'].value_counts()

view        40779399
cart          926516
purchase      742849
Name: event_type, dtype: int64

In [25]:
df_bonus=df_bonus[(df_bonus['event_type']!='view')]

In [27]:
import numpy as np

In [28]:
 df_bonus['isCouponGenerated'] = np.where(df_bonus['event_type']=='cart', 'yes', 'no')

In [29]:
df_bonus.head()

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session,isCouponGenerated
162,2019-10-01 00:02:14 UTC,purchase,1004856,2053013555631882655,electronics.smartphone,samsung,130.76,543272936,8187d148-3c41-46d4-b0c0-9c08cd9dc564,no
308,2019-10-01 00:04:37 UTC,purchase,1002532,2053013555631882655,electronics.smartphone,apple,642.69,551377651,3c80f0d6-e9ec-4181-8c5c-837a30be2d68,no
331,2019-10-01 00:05:14 UTC,cart,5100816,2053013553375346967,NaN,xiaomi,29.51,550121407,6f623695-9581-4633-813f-825b8760c7ae,yes
379,2019-10-01 00:06:02 UTC,purchase,5100816,2053013553375346967,NaN,xiaomi,29.51,514591159,0e5dfc4b-2a55-43e6-8c05-97e1f07fbb56,no
442,2019-10-01 00:07:07 UTC,purchase,13800054,2053013557418656265,furniture.bathroom.toilet,santeri,54.42,555332717,1dea3ee2-2ded-42e8-8e7a-4e2ad6ae942f,no

In [30]:
df2=df_bonus.copy()

In [ ]:
df2.

In [12]:
df2.head()

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session,isCouponGenerated
0,2019-10-01 00:00:00 UTC,view,44600062,2103807459595387724,NaN,shiseido,35.79,541312140,72d76fde-8bb3-4e00-8c23-a032dfed738c,no
1,2019-10-01 00:00:00 UTC,view,3900821,2053013552326770905,appliances.environment.water_heater,aqua,33.20,554748717,9333dfbd-b87a-4708-9857-6336556b0fcc,no
2,2019-10-01 00:00:01 UTC,view,17200506,2053013559792632471,furniture.living_room.sofa,NaN,543.10,519107250,566511c2-e2e3-422b-b695-cf8e6e792ca8,no
3,2019-10-01 00:00:01 UTC,view,1307067,2053013558920217191,computers.notebook,lenovo,251.74,550050854,7c90fc70-0e80-4590-96f3-13c02c18c713,no
4,2019-10-01 00:00:04 UTC,view,1004237,2053013555631882655,electronics.smartphone,apple,1081.98,535871217,c6bd7419-2748-4c56-95b4-8cec9ff8b80d,no

In [31]:
a = ['1','2']

In [32]:
type(a)

list

In [20]:
df_bonus['number'] = np.random.randint(0,3)

In [21]:
df_bonus['number'].value_counts()

1    42448764
Name: number, dtype: int64

In [33]:
for i , row in df_bonus.iterrows():
#     print(i)
#     print(row[6])
    if i%2 ==0 :
        df_bonus.set_value(i,'number',2)
    else:
        df_bonus.set_value(i,'number',1)

C:\Users\prafu\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  """
C:\Users\prafu\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  import sys

In [35]:
df_bonus.head()

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session,isCouponGenerated,number
162,2019-10-01 00:02:14 UTC,purchase,1004856,2053013555631882655,electronics.smartphone,samsung,130.76,543272936,8187d148-3c41-46d4-b0c0-9c08cd9dc564,no,2.0
308,2019-10-01 00:04:37 UTC,purchase,1002532,2053013555631882655,electronics.smartphone,apple,642.69,551377651,3c80f0d6-e9ec-4181-8c5c-837a30be2d68,no,2.0
331,2019-10-01 00:05:14 UTC,cart,5100816,2053013553375346967,NaN,xiaomi,29.51,550121407,6f623695-9581-4633-813f-825b8760c7ae,yes,1.0
379,2019-10-01 00:06:02 UTC,purchase,5100816,2053013553375346967,NaN,xiaomi,29.51,514591159,0e5dfc4b-2a55-43e6-8c05-97e1f07fbb56,no,1.0
442,2019-10-01 00:07:07 UTC,purchase,13800054,2053013557418656265,furniture.bathroom.toilet,santeri,54.42,555332717,1dea3ee2-2ded-42e8-8e7a-4e2ad6ae942f,no,2.0

In [36]:
def conditions(s):
    if (s['event_type'] == 'cart') and (s['number'] == 1) :
        return 1
    else:
        return 0

In [38]:
df_bonus['Type'] = df_bonus.apply(conditions, axis=1)

In [39]:
dfpurchase= df_bonus[(df_bonus['event_type']== 'purchase')]

In [40]:
dfpurchase.shape

(742849, 12)

In [0]:
df.head(25)

In [41]:
df2=df_bonus[(df_bonus['event_type']=='cart')]

In [42]:
df2['Type'].value_counts()

1    463770
0    462746
Name: Type, dtype: int64

In [43]:
df_joined = pd.merge(dfpurchase, df2, left_on='user_id',right_on='user_id',how='inner')

In [44]:
df_joined.shape

(4546203, 23)

In [45]:
df_joined['Type_y'].value_counts()

1    2279995
0    2266208
Name: Type_y, dtype: int64

In [46]:
df2['number'].value_counts()

1.0    463770
2.0    462746
Name: number, dtype: int64

In [47]:
df2['Type']= np.where(df2['number']== 1 , 'Type 1', 'Type 2')

C:\Users\prafu\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [48]:
df2.head(10)

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session,isCouponGenerated,number,Type
331,2019-10-01 00:05:14 UTC,cart,5100816,2053013553375346967,NaN,xiaomi,29.51,550121407,6f623695-9581-4633-813f-825b8760c7ae,yes,1.0,Type 1
583,2019-10-01 00:09:33 UTC,cart,1002524,2053013555631882655,electronics.smartphone,apple,515.67,524325294,0b74a829-f9d7-4654-b5b0-35bc9822c238,yes,1.0,Type 1
680,2019-10-01 00:11:00 UTC,cart,4804056,2053013554658804075,electronics.audio.headphone,apple,161.98,533624186,e5ac3caa-e6d5-4d6b-ae06-2c18cd9ca683,yes,2.0,Type 2
1325,2019-10-01 02:17:59 UTC,cart,1004833,2053013555631882655,electronics.smartphone,samsung,174.76,536415846,685b5b42-f597-4a69-ab4c-ef96a30bc454,yes,1.0,Type 1
1654,2019-10-01 02:19:36 UTC,cart,1005003,2053013555631882655,electronics.smartphone,huawei,258.21,513632293,f2cc68f7-39d1-4a50-9dcf-f2a0921bdfda,yes,2.0,Type 2
1684,2019-10-01 02:19:43 UTC,cart,1004750,2053013555631882655,electronics.smartphone,samsung,197.43,555110488,ce885079-4d92-4fe6-92a3-377c5a2d8291,yes,2.0,Type 2
1900,2019-10-01 02:20:32 UTC,cart,1004709,2053013555631882655,electronics.smartphone,huawei,155.77,513852171,e48800b3-61fc-4b80-9feb-7d80150b64a7,yes,2.0,Type 2
1960,2019-10-01 02:20:44 UTC,cart,1004659,2053013555631882655,electronics.smartphone,samsung,787.18,555168263,d068d08f-aaf3-4949-b031-cdaf49a5c7cf,yes,2.0,Type 2
2077,2019-10-01 02:21:04 UTC,cart,1500021,2053013552955916539,computers.peripherals.printer,epson,116.73,513489079,63de1120-9d48-45d0-b024-500d1b95d71f,yes,1.0,Type 1
2137,2019-10-01 02:21:16 UTC,cart,1004247,2053013555631882655,electronics.smartphone,apple,809.72,519840569,d5de76ec-7ef2-4d78-bf16-220f2ca3fcdb,yes,1.0,Type 1

In [0]:
df2.drop(['numbers'],axis=1)

In [0]:
df2['product_id'].value_counts()